PORT=4002

# MySQL (TiDB Cloud)
DB_HOST=
DB_PORT=4000
DB_USER=
DB_PASSWORD=
DB_NAME=flashbuy
DB_SSL=true

# Redis (Upstash)
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# Kafka (RedPanda Cloud)
KAFKA_BROKER=
KAFKA_USERNAME=
KAFKA_PASSWORD=

# Auth
JWT_SECRET=

KAFKAJS_NO_PARTITIONER_WARNING=1
